@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/dropzone/styles.css';
@import '@mantine/carousel/styles.css';
@import '@mantine/charts/styles.css';

:root {
  --mantine-color-body: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
