@import "tailwindcss";
@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/dropzone/styles.css';
@import '@mantine/carousel/styles.css';
@import '@mantine/charts/styles.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-poppins), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-hero{
  padding: 12px;
}

.search-bar{
  padding: 16px;
}